<h2 mat-dialog-title>Upload Image</h2>
<mat-dialog-content class="mat-typography">
  <app-file-upload [options]="options"></app-file-upload>

  <mat-card
    class="product-card"
    *ngFor="let item of images"
    id="{{ 'item.id' }}"
  >
    <mat-card-header></mat-card-header>
    <img
      mat-card-image
      style="width: 250px; height: 250px"
      [src]="item.path"
      alt="{{ item.fileName }}"
    />
    <mat-card-content> </mat-card-content>
    <mat-card-actions>
      <button
        mat-stroked-button
        color="warn"
        (click)="deleteImage(item.id, $event)"
      >
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
