<div class="container mt-5">
    <mat-form-field appearance="fill">
        <mat-label id="name">Name</mat-label>
        <input matInput type="text" name="name" autocomplete="off" #txtName />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea matInput name="desc" autocomplete="off" #txtDesc></textarea>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
        <mat-label id="name">Price</mat-label>
        <input matInput
               type="number"
               name="price"
               autocomplete="off"
               #txtPrice
               min="0"
               value="0" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
        <mat-label id="name">Stock</mat-label>
        <input matInput
               type="number"
               name="stock"
               autocomplete="off"
               #txtStock
               min="0"
               value="0" />
    </mat-form-field>
    <br />
    <button mat-raised-button
            color="accent"
            (click)="create(txtName, txtDesc, txtPrice, txtStock)">
        Save
    </button>
</div>

<hr />
<app-file-upload [options]="fileUploadOptions"></app-file-upload>
